<ul class="menu w-72 bg-base-300 rounded-box">
  <li>
    <h2 class="menu-title">Folders</h2>
    <ul>
      <li><%= link_to "Manage folders", folders_path %></li>
      <li><%= link_to 'New Folder', new_folder_path, { onclick: 'modal.showModal()', data: { turbo_frame: 'modal-frame' } } %></li>
    </ul>
  </li>
  <li>
    <h2 class="menu-title">Feeds</h2>
    <ul>
      <li><%= link_to "Manage feeds", feeds_path %></li>
      <li><%= link_to 'New Feed', new_feed_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Hotkey navigation', pages_hotkeys_path, { onclick: 'modal.showModal()', data: { turbo_frame: 'modal-frame' } } %></li>
  <%= form_with url: subscriptions_import_path do |f| %>
    <li>
      <%= f.label :import_file, 'Import feeds' %>
    </li>
    <%= f.file_field :import_file, class: 'hidden', onchange: 'this.form.requestSubmit()' %>
  <% end %>
</ul>
