<%# locals: (navigation_item: nil, **) -%>
<% if navigation_item.blank? %>
  <li class="py-2" id='all-list-item'>
    <%= link_to root_path, data: { hotkeys_target: 'navigationItem', turbo_frame: :content, turbo_action: :advance }, class: class_names('flex', 'justify-between', { active: @settings.selection.blank? }) do %>
      All feeds
      <% if render_badges?(@settings.filter) %>
        <div class="badge"><%= @sidebar_metrics.send(@settings.filter).all %></div>
      <% end %>
    <% end %>
  </li>
<% elsif render_navigation_item?(navigation_item, @sidebar_metrics, @settings.selection, @settings.filter) %>
  <li class="py-2" id="<%= dom_id(navigation_item, :navigation_item) %>">
    <%= link_to navigation_item, data: { hotkeys_target: 'navigationItem', turbo_frame: :content, turbo_action: :advance }, class: class_names('flex', 'justify-between', { active: navigation_item == @settings.selection, 'border border-error' => navigation_item.try(:refresh_state)&.error? }) do %>
      <div class='flex gap-2 items-center'>
        <%= render 'icons/chevron-down' if navigation_item.respond_to?(:feeds) %>
        <%= image_tag feed_icon_path(navigation_item), size: '16x16', alt: navigation_item.title, class: 'h-4' if navigation_item.try(:icon).present? %>
        <%= navigation_item.title %>
      </div>
      <% if render_badges?(@settings.filter) %>
        <div class="badge"><%= badge_for(navigation_item, @sidebar_metrics, @settings.filter) %></div>
      <% end %>
    <% end %>
    <% if navigation_item.respond_to?(:feeds) %>
      <ul>
        <%= render partial: 'sidebar/navigation_item', collection: navigation_item.feeds, as: :navigation_item %>
      </ul>
    <% end %>
  </li>
<% end %>
