<%= form_with class: 'form-control', data: { controller: 'search', action: 'search#query' } do |form| %>
  <div class='flex items-center justify-between pr-2'>
    <%= form.label :q, 'Search', class: 'label' %>
    <%= button_tag 'Clear search', type: 'button', class: 'link', data: { action: 'search#clear' } %>
  </div>
  <%= form.text_field :q, class: "input input-sm w-full max-w-xs", placeholder: 'Search', value: params[:q], data: { hotkeys_target: 'search', search_target: 'input' } %>
<% end %>
<%= form_with scope: :settings, url: settings_path, method: :put, class: 'form-control', data: { turbo_frame: :content } do |form| %>
  <%= form.label :filter, 'Filter', class: 'label' %>
  <%= form.select :filter, filter_options, { selected: @settings.filter }, { class: "select select-sm w-full max-w-xs", onchange: 'this.form.requestSubmit()', data: { hotkeys_target: 'filterSelect' } } %>
<% end %>
<%= turbo_frame_tag :unread_list, src: unread_list_feeds_path, refresh: :morph do %>
  <div class="flex flex-col gap-4 pt-4">
    <% 10.times do %>
      <div class="skeleton w-72 h-6"></div>
    <% end %>
  <% end %>
