<div class='flex flex-col gap-3' data-controller='itemactions' data-itemactions-item-status-value="<%= item.status %>">
  <div class='flex gap-2 items-center'>
    <%= render 'actions', item: item %>
    <%= image_tag feed_icon_path(item.feed), size: '16x16', alt: item.feed.title, class: 'h-4' if item.feed.try(:icon).present? %>
    <p class='text-sm flex items-center'><%= item.feed.title %></p>
  </div>
  <%= form_with model: item, data: { itemactions_target: 'form' } do |f| %>
    <%= f.hidden_field(:status, value: :read) %>
    <details class="collapse collapse-plus border border-base-300 bg-base-200" data-action="toggle->itemactions#submitForm">
      <summary class="collapse-title text-xl font-medium">
        <div class='flex flex-col gap-2'>
          <p><%= item.title %></p>
          <p class='font-thin'><%= "#{time_ago_in_words(item&.date || item.created_at)} from #{item&.author || item.feed.title}"%></p>
        </div>
      </summary>
      <div class="flex justify-center collapse-content">
        <article class="prose">
          <%= image_tag(item.image) if item.image.present? %>
          <%= simple_format(item.content || item.description, {}, { sanitize: false }) %>
        </article>
      </div>
    </details>
  <% end %>
</div>
