<%= turbo_stream.append "items" do %>
  <%= render partial: 'item', collection: @items, spacer_template: "application/divider" %>
  <% if @items.empty? %>
    <p class='text-center text-2xl'>No items to display :(</p>
  <% else %>
    <%= render 'application/divider' %>
  <% end %>
<% end %>
<% if @pagy.next.present? %>
  <%= turbo_stream.replace "items-pagination" do %>
    <%= turbo_frame_tag 'items-pagination', src: current_items_path(@settings.selection, filter: @settings.filter, page: @pagy.next, format: :turbo_stream), loading: :lazy do %>
      <div class='flex justify-center p-5'>
        <%= render 'application/loading'%>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "items-pagination" %>
<% end %>
