<!DOCTYPE html>
<html>
  <%= render "head" %>
  <body data-controller='hotkeys' data-action='<%= hotkey_actions %>'>
    <main>
      <%= render "modal" %>
      <%= render "flash" %>
      <%= render 'drawer' do %>
        <%= yield %>
      <% end %>
    </main>
  </body>
</html>
